#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container card style */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  margin-bottom: 50px;
}

.header button {
  border: #ccc 1px solid;
  margin-top: 10px;
}

.body h3 {
  margin-bottom: 30px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 2px;
  text-align: left;
  font-size: 0.85em;
}
.form-field input, .form-field select {
  width: 100%;
  padding: 10px;
  border: #ccc 1px solid;
  border-radius: 5px;
}

.form-field input:focus, .form-field select:focus {
  outline: none;
  border-color: #646cff;
}

form .flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

form button[type="submit"] {
  background-color: #646cff;
  color: #fff;
  flex: 1;
}

form button[type="submit"]:hover {
  background-color: #535bf2;
}

form button[type="button"] {
  background-color: #ccc;
  color: #000;
  flex: 0.3;
  flex-grow: 1;
}

form small{
  font-size: 0.7em;
  display: block;
}

form .footer {
  margin-top: 20px;
}
